# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnement virtuel
venv/
env/

# Django
staticfiles/
media/

# Secrets / config locale
*.env
.env
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
